
@{
    Layout = null;
    var currentAction = ViewContext.RouteData.Values["action"].ToString().ToLower();
}
@model Post
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <title>6789俱乐部</title>
    <meta http-equiv="description" content="论坛，自由讨论，开放，同城交友！" />
    <meta http-equiv="keywords" content="BBS Chi 论坛" />
    <meta name="author" content="Mr.Chi">
    <meta name="copyright" content="Mr.Chi">
    <link rel="icon" href="~/Assets/images/驰.png" type="image/x-icon" />
    <link rel="shortcut icon" href="~/Assets/images/驰.png" type="image/x-icon" />
    <link href="~/Assets/styles/main.css" rel="stylesheet" media="all" />
    <link href="~/Assets/styles/base.css" rel="stylesheet" media="all" />
    <link href="~/Assets/styles/font-awesome/css/font-awesome.css-v=4.3.0.css" rel="stylesheet" />
    <link href=~/Assets/styles/jquery.fancybox.css-v =2.1.5.css" rel="stylesheet" />
    <link href="~/Assets/styles/animate.css" rel="stylesheet" />
    <link href="~/Assets/styles/base.css-v=2.2.0.css" rel="stylesheet" />
    <style type="text/css" media="screen">
        .login-main {
            background: #fff;
            display: flex;
            justify-content: center;
            margin: 0 10px;
        }

        .login {
            width: 80%;
            max-width: 250px;
        }

            .login .login-p {
                margin: 12px 0;
                display: flex;
                justify-content: center;
            }

                .login .login-p input {
                    width: 100%;
                    line-height: 30px;
                    border: 1px solid #e5e5e5;
                    border-radius: 4px;
                    font-size: 13px;
                    padding-left: 8px;
                    font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
                }

                .login .login-p p {
                    margin-right: 10px;
                    width: 100%;
                    text-align: right;
                }

                .login .login-p p1 {
                    margin-left: 10px;
                    width: 100%;
                    text-align: left;
                }

        .login-p .btn {
            width: 100%;
            line-height: 25px;
            margin-top: 8px;
        }

        ::-webkit-input-placeholder {
            color: #999;
        }

        :-moz-placeholder {
            color: #999;
        }

        :-ms-input-placeholder {
            color: #999;
        }

        ::-moz-placeholder {
            color: #999;
        }
    </style>
    <script src="~/Assets/scripts/vendor/layer/layer.js" type="text/javascript"></script>
    <script src="~/Assets/scripts/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="~/Assets/scripts/js.js" type="text/javascript"></script>
</head>
<body>
    <div class="header">
        <div class="chi_left">
            <a href="#">6789Club</a>
        </div>
        <div class="chi_right">

            @{
                var user = (User)Session["loginuser"];
                if (user != null)
                {

                    <a href="/user/user" title="@user.Name" style="padding: 15px 5px; line-height: 30px;">
                        <img id="my-avatar" class="img-circle profile-small-avatar" src="@user.Image" />
                        <span class="mobile-hide">@user.Name</span>
                    </a>
                    <a class="dropdown-toggle" href="/Notice"><img src="/Assets/images/pic_01.gif" /></a>

                                <a href="/user/login">
                                    <img src="/Assets/images/pic_02.gif" />
                                </a>

                }
                else
                {
                    <div class="user-login">
                        <a class="btn btn-primary btn-xs" href="/user/login">
                            登录
                        </a>
                    </div>
                }
            }
        </div>
        <!--头右-->
    </div>
    <!--导航栏-->
    <div class="blue-bar"><a href="#">主页</a> / <a>帖子详情</a></div>
    <!--/header-->
    <div class="main">
        <div class="h_auto">
            <div class="ux-w-94 bod-t-1 ma-t-25 max-l-3 height_auto">
                <div class="col-lg-12  bg-c-white pa-t-20">
                    <a href="#" class="uz-w-50 uz-h-50 left"><img class="bd-r-3" src="@Model.User.Image" width="50" height="50" /></a>
                    <div class="ma-l-70">
                        <div class="f-s-16">
                            @{
                                var essence = "";
                                if (Model.Status == 1)
                                {
                                    essence = "精华贴";
                                }
                                else
                                {
                                    essence = "普通贴";
                                }
                                <span class="f-c-blue">@essence</span>
                            }
                            @Model.Title
                        </div>
                        <div class="ma-t-15 f-s-13">
                            <span><a href="#" class="f-c-blue">@Model.User.Name</a></span>
                            <span class="f-c-yellows">
                                @{
                                    foreach (var item in ViewBag.User)
                                    {
                                        if (item.id == Model.UserId)
                                        {
                                            <i></i><!--图标-->
                                            @item.Level.Name;
                                        }
                                    }
                                }
                            </span>
                            <span class="f-c-gray ma-l-15">
                                @{
                                    string time = Model.CreateTime.ToString();
                                    string year = time.Substring(2, 2) + "年";
                                    string month = time.Substring(5, 2) + "月";
                                    string day = time.Substring(8, 2) + "日";
                                    string hour = time.Substring(11, 5);
                                    <i></i><!--图标-->
                                    @year@month@day @hour
                                }
                            </span>
                            <span class="f-c-gray ma-l-10">
                                <i></i><!--图标-->
                                @Model.SysInfo
                            </span>
                        </div>
                    </div>
                    <!--内容-->
                    <div class="bg-c-white ma-t-30">
                        @Html.Raw(Model.Details.ToString())
                    </div>
                    <!--赞帖-->
                    @using (Html.BeginForm("Browse", "Post", FormMethod.Get))
                    {
                        var praiserecord = ViewData["praiserecord"];
                        <div id="praisearticles">
                            @Html.Partial("_PraiseRecord", praiserecord)
                        </div>
                        if (Session["loginuser"] != null)
                        {
                            <div class="topic-option">
                                <div class="pull-right">
                                    <a class="praise record">点赞</a>
                                    <a class="praise collection">收藏</a>
                                    <a class="do-reward btn btn-sm btn-success" data-pid="0">
                                        <i class="fa fa-database"></i>&nbsp;打赏
                                    </a>
                                    <a class="do-reply btn btn-sm btn-primary" data-pid="0">
                                        <i class="fa fa-pencil"></i>
                                        &nbsp;回复
                                    </a>
                                </div>
                                <div class="clearfix">
                                </div>
                            </div>
                        }

                    <!--用户评论-->
                        var reply = ViewData["reply"];
                        <div id="articles">
                            @Html.Partial("_Comment", reply)
                        </div>
                    }
                    <!--评论-->
                    @{
                        if (Session["loginuser"] != null)
                        {
                            <div class="row" style="margin: 0px;">
                                <div id="post-edit"></div>
                                <button id="post-submit" type="submit" class="btn btn-sm btn-primary submit-btn ux-w-100" style="margin-top:15px;">提交</button>
                            </div>
                        }
                        else
                        {
                            <div class="bod-t-1 ux-w-100 pa-t-15 ma-b-30 text-center pa-t-45 pa-b-60">
                                <span><a href="/User/Login">登陆</a>后可回复</span>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="footer">
            <p class="fl">Copyright © 2016 江苏嬉戏谷科技有限公司</p>
            <p class="fr">苏ICP备13055054号-2.</p>
        </div>
    </div>
</body>
</html>
