
@{
    Layout = null;
    var loginUser = (User)ViewBag.LoginUser;
}
@using Webdiyer.WebControls.Mvc;
@model IPagedList<Club.Models.ListPostModel>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <title>6789俱乐部</title>
    <meta http-equiv="description" content="论坛，自由讨论，开放，同城交友！" />
    <meta http-equiv="keywords" content="BBS Chi 论坛" />
    <meta name="author" content="Mr.Chi" />
    <meta name="copyright" content="Mr.Chi" />
    <link rel="icon" href="~/Assets/images/驰.png" type="image/x-icon" />
    <link rel="shortcut icon" href="~/Assets/images/驰.png" type="image/x-icon" />
    <link href="~/Assets/styles/main.css" rel="stylesheet" media="all" />
    <link href="~/Assets/styles/base.css" rel="stylesheet" media="all" />
    <link href="~/Assets/styles/font-awesome/css/font-awesome.css-v=4.3.0.css" rel="stylesheet" />
    <link href=~/Assets/styles/jquery.fancybox.css-v=2.1.5.css" rel="stylesheet" />
    <link href="~/Assets/styles/animate.css" rel="stylesheet" />
    <link href="~/Assets/styles/base.css-v=2.2.0.css" rel="stylesheet" />
    <script src="~/Assets/scripts/vendor/layer/layer.js" type="text/javascript"></script>
    <script src="~/Assets/scripts/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="~/Assets/scripts/js.js" type="text/javascript"></script>
    <style type="text/css">
        .chi_1 {

            text-align: center;


        }
    </style>
</head>
<body>
    <div class="header">
        <div class="chi_left">
            <a href="#">6789Club</a>
            <div class="chi_input">
                <input name="" placeholder="请输入您需要查找的内容 …" type="text" />
                <!--头左-->
            </div>
        </div>

            <div class="chi_right">

                @{
                    if (loginUser != null)
                    {

                                <a href="/user/user" title="@loginUser.Name" style="padding: 15px 5px; line-height: 30px;">
                                    <img  id="my-avatar" class="img-circle profile-small-avatar" src="@loginUser.Image" />
                                    <span class="mobile-hide">@loginUser.Name</span>
                                </a>
                                <a class="dropdown-toggle" href="/Notice"><img src="/Assets/images/pic_01.gif" /></a>

                                <a href="/user/login">
                                    <img src="/Assets/images/pic_02.gif" />
                                </a>

                    }
                    else
                    {
                        <div class="user-login">
                            <a class="btn btn-primary btn-xs" href="/user/login">
                                登录
                            </a>

                        </div>
                    }
                }

                
            </div>
           
        <!--头右-->
    </div>
    <!--/header-->

    <div class="main">
        <div class="chi_m_top">
            <div class="fl"><img src="~/Assets/images/logo.png" height="60" width="60" /></div>
            <div class="fr">
                <h3>6789俱乐部·因趣而生</h3>
                <p>定期为有相同兴趣的人提供活动，励志做常州最好玩的俱乐部，加入6789俱乐部，我们带你吃喝玩乐玩转生活，趣味无穷。</p>
            </div>
        </div>
        <div class="h_auto">
            <div class="chi_m_left">
                <div class="chi_m_lnav"> <a href="#" class="on">最新回复</a> <a href="#">最新发表</a> <a href="#">只看精华</a> </div>
                <div class="chi_m_licon">
                    @{
                        foreach (var item in Model)
                        {
                            <ul>
                                <li>
                                    <div class="fl">
                                        <a href="/Home/details"><img src="@item.UserImage" width="40" height="40" /></a> <a href="/Home/details" class="chi_m_licon_a">
                                            <h5><p1></p1>@item.Title<p1>【@item.Status】</p1></h5>
                                            <p><font>@item.UserName</font><font>@item.CreateTime</font></p>
                                        </a>
                                    </div>
                                    <div class="fr">
                                        <a href="/Home/details">
                                            <img src="~/Assets/images/icon_01.png" width="40" height="13" />
                                            <p>@item.ViewCount</p>
                                        </a><a href="/Home/details">
                                            <img src="~/Assets/images/icon_02.png" width="40" height="13" />
                                            <p>@item.ReplyCount</p>
                                        </a>
                                    </div>
                                </li>
                                </ul>
                          }
                     }
                </div>
                <div class="chi_1">
                    @Html.Pager(Model, new PagerOptions()
               {
                   ContainerTagName = "ul", //分页标签
                   CssClass = "pagination", //分页样式
                   PagerItemTemplate = "<li class=\"paginate_button\">{0}</li>",
                   CurrentPagerItemTemplate = "<li class=\"paginate_button active\"><a href='#'>{0}</a></li>",
                   DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>",
                   ShowFirstLast = true, //该值指定是否显示第一页和最后一页分页导航按钮。
                   FirstPageText = "首页",
                   NextPageText = "下一页",
                   PrevPageText = "上一页",
                   LastPageText = "末页",
                   HorizontalAlign = "left", //获取或设置分页控件水平对齐方式。
                   ShowMorePagerItems = true, //指定是否显示更多页按钮
                   ShowNumericPagerItems = true ,//指定是否显示数字页索引按钮及更多页按钮。
               })
                </div>
               
            </div>
            <!--left-->
            <div class="chi_m_right">
                <div class="chi_m_r_operat"><a href="/Post/NewPost">发&nbsp;帖</a><a href="#">投&nbsp;稿</a></div>
                <!--1-->

                <div class="chi_m_r_type"><a href="#" class="on">全部</a><a href="#">亲子帮</a><a href="#">摄影帮</a><a href="#">龙城茶座</a><a href="#">站务管理</a></div>
                <!--1-->

                <div class="chi_m_r_staty">
                    <div class="chi_m_r_statyt"># 本站统计</div>
                    <div class="chi_m_r_statyc">
                        <ul>
                            <li>
                                <img src="/Assets/images//2.png" height="25" width="30" />
                                <p>805</p>
                                <p>会员</p>
                            </li>
                            <li>
                                <img src="/Assets/images/1.png" height="25" width="30" />
                                <p>578</p>
                                <p>帖子</p>
                            </li>
                            <li>
                                <img src="/Assets/images/3.png" height="29" width="30" />
                                <p>17</p>
                                <p>精华</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--1-->

                <div class="chi_m_r_list">
                    <div class="chi_m_r_listt"># 本站薅羊毛榜</div>
                    <div class="chi_m_r_listc"><a href="#" class="on">薅羊毛财富榜</a><a href="#">薅羊毛劳模</a></div>
                </div>
                <!--1-->

                <div class="chi_m_r_neig">
                    <div class="chi_m_r_neigt"># 本站邻居</div>
                    <div class="chi_m_r_neigc"><a href="#">化龙巷</a><a href="#">淘常州</a><a href="#">中吴网</a><a href="#">常州网</a><a href="#">阿里云</a> </div>
                </div>
                <!--1-->

            </div>
            <!--right-->
        </div>
    </div>
    <!--/main-->
    <div class="footer">
        <p class="fl">Copyright © 2016 江苏嬉戏谷科技有限公司</p>
        <p class="fr">苏ICP备13055054号-2.</p>
    </div>
    <!--/footer-->
    <script src="/Areas/Admin/Assets/scripts/dialog.js"></script>
    <script type="text/javascript">

            $(document).ready(function() {
                if ('@TempData["Msg"]' != '') {
                    var d = dialog({
                        title: '提示',
                        width: '20em',
                        content: '@TempData["Msg"]'
                    });
                    d.show();
                }

            });

    </script>
</body>
</html>
